<div class="row">
    <div class="col-md d-flex justify-content-center">
         <a href="/about">About</a>
    </div>
    <div class="col-md d-flex justify-content-center">
        <a href="/gallery">Gallery</a>
    </div>
    <div class="col-md d-flex justify-content-center">
        <a href="/secondGallery">Second Gallery</a>
    </div>
    <div class="col-md d-flex justify-content-center">
        <a href="/contact">Contact</a>
    </div>
    <div class="col-md d-flex justify-content-center">
        <a href="/testpage">Test Page</a>
    </div>
    <div class="col-md d-flex justify-content-center">
        <a href="/linksGallery">Links Gallery</a>
    </div>
    <div class="col-md d-flex justify-content-center">
         <a href="/newlanding">New Landing</a> 
    </div>     
</div>