


<nav class="navbar sticky-top navbar-expand-md navbar-light py-2" style="background-color: rgba(255, 255, 255, 0.3);">
  <div class="container-fluid">
     <a class="navbar-brand" href="/">Tegan Fayne</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Landing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/secondgallery">Second Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/testpage">testpage</a>
      </li>
    </ul>
  </div>  
  </nav>

