<div class="container">
<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: rgba(255, 255, 255, 0.3);">
  <div class="container-fluid">
     <a class="navbar-brand" href="/">Tegan Fayne</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Landing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>  
  </nav>
</div>
