body {
    background: url(https://res.cloudinary.com/teegs/image/upload/v1626708935/teganfayne/paperDSC_0110_sftq3c.jpg) no-repeat center fixed;
    background-size: cover;    
    
}

.displayabout{
    background-color: rgba(255, 255, 255, 0.3);
 
    height: 100%; 
     
      border-radius: 50px;
      text-align: center;
      padding:5%;
      margin: 2%;
     
      box-shadow: inset -7px 7px 14px #5e5f62,
      inset 7px -7px 14px #ffffff;
}