body{
    background-color: rgb(242, 218, 245);
    background-size: cover;
    background-position: center;
    line-height: 200%;
    
}


 p{ 
     text-align:center;
 }
 ul{
    text-align:center;
 }


h1 {
    color: #ffffff;
    text-align: center;
    margin: 2%;
}

h2 {
    text-align: center;
    
}
h3{
    color: #ffffff;
    text-align: center;
    margin: 2%;
    
}

h5{
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color: white;
    transition: 0.2s;
}