body{
    
    background-size: cover;
    background-position: center;
    line-height: 200%;
    font-size: 120%;
}


 p{ 
     text-align:center;
     font-family: 'Advent Pro', sans-serif;
     
 }
 ul{
    text-align:center;
    font-family: 'Advent Pro', sans-serif;
 }


h1 {
    color: #ffffff;
    text-align: center;
    margin: 2%;
    font-family: 'Megrim', cursive;
}

h2 {
    text-align: center;
    font-family: 'Megrim', cursive;
}
h3{
    color: #ffffff;
    text-align: center;
    margin: 2%;
    font-family: 'Megrim', cursive;
}

h5{
    color: white;
    font-family: 'Advent Pro', sans-serif;
}

a{
    color: rgba(3, 3, 3, 0.7);
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
}

a:hover{
    color: black;
    transition: 0.2s;
}

