body{
    background-image: url(https://res.cloudinary.com/teegs/image/upload/v1626428331/teganfayne/tankwasunriseR1-08509-0031_uvbc1q.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    color: #ffffff;
}