body {
    background: url(https://res.cloudinary.com/teegs/image/upload/v1627908092/teganfayne/plant20042t_ni5otn.jpg) no-repeat center fixed;
    background-size: cover;    
    
}



input{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: inset -7px 7px 14px #5e5f62,
    inset 7px -7px 14px #ffffff;
    margin: 10%;
    position: relative;
    width: 50%;
    padding: 5%; 
    border: none;
}
input:focus{
    border: none;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow:    7px 7px 8px #545457;
}
.message{
    padding:10%;
}
button{
    
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: inset -7px 7px 14px #5e5f62,
    inset 7px -7px 14px #ffffff;
    margin: 10%;
    position: relative;
    width: 50%;
    padding: 3%; 
    border: none;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow:    7px 7px 8px #545457;
}