body {
    background: url(https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg) no-repeat center fixed;
    background-size: cover;    
    
}


.carousel-item {
    background-color: rgb(255, 255, 255, 0.3);
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    border-radius: 40px;
    
    /* box-shadow: inset -7px 7px 14px #5e5f62,
    inset 7px -7px 14px #ffffff; */
 }
 
 .carousel-item img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit:contain;
    padding: 10%;
    
 }