body {
    background: url(https://res.cloudinary.com/teegs/image/upload/v1626451409/teganfayne/paper1DSC_0109_ixdlny.jpg) no-repeat center fixed;
    background-size: cover;     
}

h2{
    color: white;
    text-align: center;
} 

.displaybox{
    background-color: rgba(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    margin: 5%;
    width: 20vw;
    height:20vw;
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}



.displaybox:hover{
    
    
     
}

/* #mtgalters{
    background: url(https://res.cloudinary.com/teegs/image/upload/v1630652440/teganfayne/Oona_fnllwt.jpg) no-repeat center;
    background-size:contain;
} */

img{
   max-width: 20vw;
   max-height: 20vw;
   padding:2%;
   filter: grayscale(80%);
   border-radius: 30px;
}
img:hover{
    filter: none;
}

.interest{
  
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row{
    margin-top: 2%;
}