body {
    background: url(https://res.cloudinary.com/teegs/image/upload/v1626451409/teganfayne/paper1DSC_0109_ixdlny.jpg) no-repeat center fixed;
    background-size: cover;     
}

h2{
    color: white;
    margin: 2%;
    text-align: center;
    /* text-shadow:    7px 7px 8px #545457; */
} 

.displaybox{
    /*background: linear-gradient(145deg, rgb(219, 220, 228, 0.3), rgb(185, 185, 192, 0.3));*/
    background-color: rgba(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    /* box-shadow: inset -7px 7px 14px #5e5f62,
    inset 7px -7px 14px #ffffff; */
    margin: 5%;
    /* width: 80%;
    padding-top: 40%; */
    width: 40vw;
    height:20vw;
}



.displaybox:hover{
    
    text-shadow:    7px 7px 8px #545457;
     
}

/* #mtgalters{
    background: url(https://res.cloudinary.com/teegs/image/upload/v1630652440/teganfayne/Oona_fnllwt.jpg) no-repeat center;
    background-size:contain;
} */

img{
   /* position: relative; */
   max-width: 40vw;
   max-height: 20vw;
   padding:2%;
   filter: grayscale(80%);
   border-radius: 30px;
}
img:hover{
    filter: none;
}