<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>


<h1>about</h1>


<footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  </body>
  </html>