<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>


<h1>about</h1>
<ul>
  <li>
    BA Fine Art 2016
  </li>
  <li>
    Webdev bootcamp 2021
  </li>
  <li>
    Film - props master, set dressing, wardrobe assist, scenic
  </li>
  <li>
    Painting Commissions
  </li>
</ul>


<footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  </body>
  </html>