<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>

<header>
  <%- include('../partials/nav'); %>
</header>

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <h1>ABOUT</h1>
  </div>
  
</div>
 
<div class="displayabout">
  <div class="row">
   
  <div class="col-md-12 "> 
    <p>
      Tegan went to school in Hermanus, South Africa and completed her tertiary education at the University of Cape Town.  She obtained a BA Fine Art degree from Michaelis
    in 2016, majoring in photography. <br>  She worked in the Cape Town film industry from 2017 to the present, both on commercials as well as film and series.  She predominantly worked in the Art 
  department as an assistant and took on the role of Props Master in 2020.  She has also worked as a wardrobe assistant and a scenic artist. <br>  
In 2021 she completed The Web Developer Bootcamp 2021 via Udemy. <br><br>
Her noteworthy skills include:   
</p>
   <ul>
  <li>
    Working with Javascript, HTML and CSS to build responsive websites (like this one!)
  </li>
  <li>
    Film - props master, set dressing, wardrobe assist, scenic
  </li>
  
  <li>
    Fine art painting both with acrylics and digitally using Procreate 
  </li>
  <li>
    Darkroom photography - 25mm film, black and white printing, pinhole
  </li>
</ul>
</div>
 
</div>
</div>
</div>
</body>





<%- include('../partials/scripts'); %> 
  </body>
  </html>