<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>


<h1>about</h1>
<ul>
  <li>
    BA Fine Art 2016
  </li>
  <li>
    Webdev bootcamp 2021
  </li>
  <li>
    Film - props master, set dressing, wardrobe assist, scenic
  </li>
  <li>
    Painting Commissions
  </li>
</ul>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae egestas quam. Cras luctus ut urna ut aliquet. Curabitur vehicula ex id est suscipit, non molestie neque sodales. Sed metus sem, fringilla vitae dolor et, commodo egestas arcu. Cras sed tincidunt mauris. Aliquam vitae blandit dui. In finibus augue et faucibus vehicula. Praesent sed neque sed eros placerat pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices tortor sapien.
<br>
Proin semper lacinia nunc, vel sodales ligula rhoncus vel. Nunc enim orci, imperdiet vel justo eu, efficitur sodales est. Fusce sodales metus non massa venenatis imperdiet. Proin ac placerat odio. Sed quis vehicula justo. Vestibulum porttitor quam vitae ante gravida blandit. Integer bibendum ornare pellentesque. Aliquam erat volutpat. Vivamus nec tellus at enim venenatis semper.
<br>
Ut lobortis, quam a venenatis rhoncus, felis sapien dapibus dolor, at auctor lorem massa sed augue. Proin et lorem nunc. Aliquam quam purus, venenatis et ornare et, pulvinar vel tortor. Mauris sed vestibulum dui. Phasellus a eros ac est aliquet iaculis. Ut pretium eros quis nisi placerat posuere. Duis posuere tincidunt lectus.
<br>
In sit amet laoreet lectus. Nunc porttitor luctus rhoncus. Fusce quis turpis at nunc rutrum ultricies ut vel enim. Pellentesque scelerisque dolor a elit convallis, ac maximus elit volutpat. In blandit velit quam, eu posuere arcu imperdiet in. Proin suscipit tempor vehicula. Aenean interdum vehicula malesuada. Praesent eget mi a arcu faucibus placerat sit amet nec orci. Mauris sed finibus sem. Vivamus pretium nulla non turpis suscipit tristique. Sed eu sapien sed lectus semper maximus eget sed felis. Duis vehicula aliquet sollicitudin. Suspendisse potenti. Sed dapibus felis vel metus bibendum, sed blandit nisl posuere. Nulla sit amet velit placerat, fermentum mi ac, molestie ante.
<br>
Pellentesque congue, libero quis facilisis aliquet, lectus est molestie augue, dapibus lacinia tortor nunc nec orci. Donec imperdiet pellentesque eros eu ultricies. Aliquam faucibus tincidunt mi a ullamcorper. Quisque fringilla volutpat nulla, quis venenatis lorem placerat at. Praesent congue arcu metus, id vulputate justo lobortis vitae. Fusce tempor commodo fermentum. Nam ultrices odio sed dui pretium pharetra. Vestibulum finibus, ex vel viverra egestas, nibh erat vehicula nibh, sit amet congue urna dui ac purus. Suspendisse vulputate id elit at facilisis. Mauris ac urna in ante sagittis finibus. Nunc ut sapien et tortor sodales vestibulum non nec nisi. Proin a dignissim nisi.
<br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae egestas quam. Cras luctus ut urna ut aliquet. Curabitur vehicula ex id est suscipit, non molestie neque sodales. Sed metus sem, fringilla vitae dolor et, commodo egestas arcu. Cras sed tincidunt mauris. Aliquam vitae blandit dui. In finibus augue et faucibus vehicula. Praesent sed neque sed eros placerat pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices tortor sapien.
<br>
Proin semper lacinia nunc, vel sodales ligula rhoncus vel. Nunc enim orci, imperdiet vel justo eu, efficitur sodales est. Fusce sodales metus non massa venenatis imperdiet. Proin ac placerat odio. Sed quis vehicula justo. Vestibulum porttitor quam vitae ante gravida blandit. Integer bibendum ornare pellentesque. Aliquam erat volutpat. Vivamus nec tellus at enim venenatis semper.
<br>
Ut lobortis, quam a venenatis rhoncus, felis sapien dapibus dolor, at auctor lorem massa sed augue. Proin et lorem nunc. Aliquam quam purus, venenatis et ornare et, pulvinar vel tortor. Mauris sed vestibulum dui. Phasellus a eros ac est aliquet iaculis. Ut pretium eros quis nisi placerat posuere. Duis posuere tincidunt lectus.
<br>
In sit amet laoreet lectus. Nunc porttitor luctus rhoncus. Fusce quis turpis at nunc rutrum ultricies ut vel enim. Pellentesque scelerisque dolor a elit convallis, ac maximus elit volutpat. In blandit velit quam, eu posuere arcu imperdiet in. Proin suscipit tempor vehicula. Aenean interdum vehicula malesuada. Praesent eget mi a arcu faucibus placerat sit amet nec orci. Mauris sed finibus sem. Vivamus pretium nulla non turpis suscipit tristique. Sed eu sapien sed lectus semper maximus eget sed felis. Duis vehicula aliquet sollicitudin. Suspendisse potenti. Sed dapibus felis vel metus bibendum, sed blandit nisl posuere. Nulla sit amet velit placerat, fermentum mi ac, molestie ante.
<br>
Pellentesque congue, libero quis facilisis aliquet, lectus est molestie augue, dapibus lacinia tortor nunc nec orci. Donec imperdiet pellentesque eros eu ultricies. Aliquam faucibus tincidunt mi a ullamcorper. Quisque fringilla volutpat nulla, quis venenatis lorem placerat at. Praesent congue arcu metus, id vulputate justo lobortis vitae. Fusce tempor commodo fermentum. Nam ultrices odio sed dui pretium pharetra. Vestibulum finibus, ex vel viverra egestas, nibh erat vehicula nibh, sit amet congue urna dui ac purus. Suspendisse vulputate id elit at facilisis. Mauris ac urna in ante sagittis finibus. Nunc ut sapien et tortor sodales vestibulum non nec nisi. Proin a dignissim nisi.
</p>



  
  </body>
  </html>