<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>


<h1>contact</h1>
<form>

  <input type="email" placeholder="Your email">
  <input type="text" placeholder="Your name">
  <input type="text" placeholder="Message">
  <button type="submit">Send</button>

</form>



  </body>
  </html>

