<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <%- include('../partials/scripts'); %> 
  <script type="text/javascript">
    (function() {
        // https://dashboard.emailjs.com/admin/integration
        emailjs.init('user_DFfqDZxsRy7k4FWjMkBa8');
    })();
</script>
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
          console.log('function requested');
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = Math.random() * 100000 | 0;
            // these IDs from the previous steps
            emailjs.sendForm('service_c2ujbgk', 'contact_form', this)
                .then(function() {
                    console.log('SUCCESS!');
                    alert("Thank you for your correspondence, chat soon!")
                    document.getElementById("contact-form").reset();
                }, function(error) {
                    console.log('FAILED...', error);
                });
        });
    }
</script>
</head>
<body>
 <header>
  <%- include('../partials/nav'); %>
</header>


  <div class="container-fluid">

 <div class="row">
   <div class="col-md-12 d-flex justify-content-center">
      <h1>Contact</h1>
   </div>
 </div>

 <form id="contact-form">
<div class="row">
  <input type="hidden" name="contact_number">
 <div class="col-md-6 d-flex justify-content-center">
    <input class="message" type="text" placeholder="Message" minlength="0" maxlength="500" name="message">
    </div> 
     <div class="col-md-6 d-flex justify-content-center">   
         <input type="email" placeholder="Your email" required minlength="6" maxlength="50" name="user_email">
  <input type="text" placeholder="Your name" required minlength="1" maxlength="50" name="user_name">
     <button type="submit">Send</button>  
     </div> 
</div>
</form>
 

  <div class="row " id="rlinks">
  <div class="col-md-3 d-flex justify-content-center">
    <a class="extLink" href="https://www.instagram.com/faynepaints/">@faynepaints <i class="fab fa-instagram"></i></a>
  </div> 
  <div class="col-md-3 d-flex justify-content-center">
<a class="extLink" href="https://www.instagram.com/faynepaintsmtg/">@faynepaintsmtg <i class="fab fa-instagram"></i></a>
  </div> 
  <div class="col-md-3 d-flex justify-content-center">
<a class="extLink" href="https://codepen.io/tegan-fayne">I'm practicing my coding <i class="fab fa-codepen"></i></a>
  </div>
  <div class="col-md-3 d-flex justify-content-center">
<a class="extLink" href="https://society6.com/fayneart">make a purchase here</a>
  </div>
</div>



</div>
 

  

  <script src="https://kit.fontawesome.com/0e54c54cde.js" crossorigin="anonymous"></script>

  </body>
  </html>

  