<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
 <header>
  <%- include('../partials/nav'); %>
</header>


  <div class="container-fluid">
   
<h1>Contact</h1>

<form>
<div class="row">
<div class="col-md-6"> 
<input type="email" placeholder="Your email">
  <input type="text" placeholder="Your name">
  </div>
  <div class="col-md-6">
 <input class="message" type="text" placeholder="Message">
  <button type="submit">Send</button>
  </div>
</div>
</form>

  </div>


<%- include('../partials/scripts'); %> 
  </body>
  </html>

