<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>


<h1>gallery</h1>



  
  </body>
  </html>