<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>

<header>
  <%- include('../partials/nav'); %>
</header>

<div class="container-fluid">
  <h1>Gallery</h1>
<div class="row">
  <div class="col-md-4">
<h3>MTG alters</h3>

      <div id="mtgcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner" >
      <div class="carousel-item active" >
        <img src="https://res.cloudinary.com/teegs/image/upload/v1626719914/teganfayne/khalni-gemsm_phmfhw.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="https://res.cloudinary.com/teegs/image/upload/v1626719912/teganfayne/boros-signetsm_vpw8mi.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="https://res.cloudinary.com/teegs/image/upload/v1626719912/teganfayne/taigam_-sidis_s-handsm_jcwfnd.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mtgcarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mtgcarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  </div>

  <div class="col-md-4">
    <h3>Film</h3>
    
          <div id="filmcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner" >
          <div class="carousel-item active" >
            <img src="https://res.cloudinary.com/teegs/image/upload/v1626788004/teganfayne/snails_jijfay.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" >
            <img src="" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" >
            <img src="" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#filmcarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#filmcarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    
      </div>

      <div class="col-md-4">
        <h3>Paintings</h3>
        
              <div id="paintingscarousel" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-inner" >
              <div class="carousel-item active" >
                <img src="https://res.cloudinary.com/teegs/image/upload/v1626787767/teganfayne/boat_y1wadc.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" >
                <img src="" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" >
                <img src="" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#paintingscarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#paintingscarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
        
          </div>
</div>


</div>




<%- include('../partials/scripts'); %> 
  </body>
  </html>