<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/nav'); %>
</header>

<h1>landing</h1>

<h2> - T E G A N <br> F A Y N E - </h2>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>



