<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/landing.css">
</head>
<body class="d-flex">
  

<header>
<!-- <%- include('../partials/nav'); %> -->  
</header>


<div class="container-fluid">

<div class="row"> 
  <div class="col-md-12">
    <h2> - T E G A N <br> F A Y N E - </h2>
  </div>
</div>

  <div class="row ">
    <div class="col-md-4 d-flex justify-content-center">
      <div onclick="location.href='/about';" style="cursor: pointer;" class="displaybox">
      
          <a href="/about">about</a>
      
       </div>
    </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div onclick="location.href='/gallery';" style="cursor: pointer;"class="displaybox">
      <a  href="/gallery">gallery</a>
     </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div onclick="location.href='/contact';" style="cursor: pointer;"class="displaybox">
      <a href="/contact">contact</a>
     </div>
  </div>
</div>
</div>




</div>
<%- include('../partials/scripts'); %> 
</body>
</html>



