

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/linksGallery.css">
</head>
<body>
  

<header>
<%- include('../partials/nav'); %>  
</header>

<div class="container-fluid">


<div class="row"> 
  <div class="col-md-12">
    <h2>Areas of Interest</h2>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
      <div onclick="location.href='/fabrication';" style="cursor: pointer;" class="displaybox">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1626788004/teganfayne/snails_jijfay.jpg" class="img-fluid" alt="">
          <a href="/about"><h2>Fabrication</h2></a>
       </div>
    </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div onclick="location.href='/painting';" style="cursor: pointer;"class="displaybox">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1630660735/teganfayne/geometric_mural_zuicja.jpg" class="img-fluid" alt="">
      <a  href="/gallery"><h2>Painting</h2></a>
     </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div onclick="location.href='/photography';" style="cursor: pointer;"class="displaybox">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1630661446/teganfayne/tankwa-sonja_vfycwu.jpg" class="img-fluid" alt="">
      <a href="/contact"><h2>Photography</h2></a>
      </div>
</div>

      <div class="col-md-4 d-flex justify-content-center">
        <div onclick="location.href='/set dressing';" style="cursor: pointer;" class="displaybox">
          <img src="https://res.cloudinary.com/teegs/image/upload/v1630661170/teganfayne/lights_kf7sfv.jpg" class="img-fluid" alt="">
            <a href="/about"><h2>Set Dressing</h2></a>
         </div>
      </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div onclick="location.href='/sketch';" style="cursor: pointer;"class="displaybox">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1630660901/teganfayne/pregnant_woman_bfuarj.jpg" class="img-fluid" alt="">
        <a  href="/gallery"><h2>Sketching</h2></a>
       </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div onclick="location.href='/mtgalters';" style="cursor: pointer;" class="displaybox" id="mtgalters">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1630652440/teganfayne/Oona_fnllwt.jpg" class="img-fluid" alt="...">
        <a href="/contact"></a><h2>MTG: Altered Art</h2>
     </div>
     
  </div>
</div>

</div>
<%- include('../partials/scripts'); %> 
</body>
</html>



