

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/linksGallery.css">
</head>
<body>
  

<header>
 
</header>

<div class="container-fluid">


<div class="row"> 
  <div class="col-md-12">
    <h2>Areas of Interest</h2>
  </div>
</div>

  <div class="row">
    <div class="col-lg-3 d-flex justify-content-center">
      <div onclick="location.href='/fabrication';" style="cursor: pointer;" class="displaybox">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1626788004/teganfayne/snails_jijfay.jpg" class="img-fluid" alt="">
        <div class="interest">
           <h2>Fabrication</h2>
        </div> 
       </div>
    </div>
  <div class="col-lg-3 d-flex justify-content-center">
    <div onclick="location.href='/painting';" style="cursor: pointer;"class="displaybox">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1630660735/teganfayne/geometric_mural_zuicja.jpg" class="img-fluid" alt="">
      <div class="interest">
      <h2>Murals</h2>
      </div>
     </div>
  </div>
  <div class="col-lg-3 d-flex justify-content-center">
    <div onclick="location.href='/photography';" style="cursor: pointer;"class="displaybox">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1630661446/teganfayne/tankwa-sonja_vfycwu.jpg" class="img-fluid" alt="">
      <div class="interest">
         <h2>Photography</h2>
      </div>
      </div> 
</div>
<div class="col-lg-3 d-flex justify-content-center">
  <div onclick="location.href='/mtgalters';" style="cursor: pointer;" class="displaybox">
    <img src="https://res.cloudinary.com/teegs/image/upload/v1630948454/teganfayne/hippopotamous_cvwdjh.jpg" class="img-fluid" alt="...">
    <div class="interest">
      <h2>Painting</h2>
    </div>
 </div>
</div>
      <div class="col-lg-3 d-flex justify-content-center">
        <div onclick="location.href='/set dressing';" style="cursor: pointer;" class="displaybox">
          <img src="https://res.cloudinary.com/teegs/image/upload/v1630661170/teganfayne/lights_kf7sfv.jpg" class="img-fluid" alt="">
          <div class="interest">
            <h2>Set Dressing</h2>
          </div>  
         </div>
      </div>
    <div class="col-lg-3 d-flex justify-content-center">
      <div onclick="location.href='/sketch';" style="cursor: pointer;"class="displaybox">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1630660901/teganfayne/pregnant_woman_bfuarj.jpg" class="img-fluid" alt="">
        <div class="interest">
          <h2>Sketching</h2>
        </div>
       </div>
    </div>
    <div class="col-lg-3 d-flex justify-content-center">
      <div onclick="location.href='/mtgalters';" style="cursor: pointer;" class="displaybox">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1630665857/teganfayne/Oona_zsirzd.jpg" class="img-fluid" alt="...">
        <div class="interest">
          <h2>MTG: Altered Art</h2>
        </div>
     </div>
  </div>
  <div class="col-lg-3 d-flex justify-content-center">
    <div onclick="location.href='/mtgalters';" style="cursor: pointer;" class="displaybox">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1630948140/teganfayne/IMG_0559_ib9bdc.jpg" class="img-fluid" alt="...">
      <div class="interest">
        <h2>Digital</h2>
      </div>
   </div>
</div>
</div>

<%- include('../partials/bottomNav'); %> 
</div>
<%- include('../partials/scripts'); %> 
</body>
</html>



