<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/newlanding.css">
</head>
<body class="d-flex">
  

<header>
<!-- <%- include('../partials/nav'); %> -->  
</header>


<div class="container-fluid">
<div class="row">
    <div class="col d-flex justify-content-center">
        <h2>Tegan Fayne</h2>
    </div>
    
</div>

    <div class="row">
        <div class="col-lg">
        </div>
        <div class="col-lg-6 d-flex justify-content-center">
            <div class="feature">
        <!-- <img src="https://res.cloudinary.com/teegs/image/upload/v1630919778/teganfayne/troyboatbottom_ykc0i2.jpg" class="img-fluid" id="boat" alt=""> -->
       
         </div>
        </div>
        <div class="col-lg"> 
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md">   
        </div>
        <div class="col-md">
           <div class="feature">
                    <img src="https://res.cloudinary.com/teegs/image/upload/v1630919778/teganfayne/troyboatbottom_ykc0i2.jpg" class="img-fluid" alt="">
        </div>  
        </div>
        <div class="col-md">   
        </div>
</div> -->



<%- include('../partials/bottomNav'); %>

</div>
<%- include('../partials/scripts'); %> 
</body>
</html>
