<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/newlanding.css">
</head>
<body class="d-flex">
  

<header>
<!-- <%- include('../partials/nav'); %> -->  
</header>


<div class="container-fluid">
<div class="row">
    <h2>Tegan Fayne</h2>
</div>

    <div class="row">
        <div class="col-md">
        </div>
        <div class="col-md">
            <div class="feature">
        <img src="https://res.cloudinary.com/teegs/image/upload/v1630919781/teganfayne/trpyboattop_mjswok.jpg" class="img-fluid" alt="">
         </div>
        </div>
        <div class="col-md"> 
        </div>
    </div>
    <div class="row">
        <div class="col-md">   
        </div>
        <div class="col-md">
           <div class="feature">
                    <img src="https://res.cloudinary.com/teegs/image/upload/v1630919778/teganfayne/troyboatbottom_ykc0i2.jpg" class="img-fluid" alt="">
        </div>  
        </div>
        <div class="col-md">   
        </div>
</div>



<%- include('../partials/bottomNav'); %>

</div>
<%- include('../partials/scripts'); %> 
</body>
</html>
