<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/secondgallery.css">
</head>
<body>

<header>
    
        <%- include('../partials/nav'); %>
   
  
</header>

<div class="container-fluid">
    <div class="row"> 
    <div class="column">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626788004/teganfayne/snails_jijfay.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626787767/teganfayne/boat_y1wadc.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626719914/teganfayne/khalni-gemsm_phmfhw.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626719912/teganfayne/boros-signetsm_vpw8mi.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626719912/teganfayne/taigam_-sidis_s-handsm_jcwfnd.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718949/teganfayne/paperDSC_0101_btydsb.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626708935/teganfayne/paperDSC_0110_sftq3c.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626451409/teganfayne/paper1DSC_0109_ixdlny.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626428331/teganfayne/tankwasunriseR1-08509-0031_uvbc1q.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626428331/teganfayne/tankwasunriseR1-08509-0031_uvbc1q.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427826/teganfayne/DSC_0071_w5fuji.jpg" style="width:100%">
    </div>  
    <div class="column">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427116/teganfayne/bluetankwaDSC_0071_zw4xbz.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427116/teganfayne/bluetankwaDSC_0071_zw4xbz.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626451409/teganfayne/paper1DSC_0109_ixdlny.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626451409/teganfayne/paper1DSC_0109_ixdlny.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626719914/teganfayne/khalni-gemsm_phmfhw.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427116/teganfayne/bluetankwaDSC_0071_zw4xbz.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427826/teganfayne/DSC_0071_w5fuji.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626719914/teganfayne/khalni-gemsm_phmfhw.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626718339/teganfayne/paperDSC_0102_nxc7qq.jpg" style="width:100%">
      <img src="https://res.cloudinary.com/teegs/image/upload/v1626427826/teganfayne/DSC_0071_w5fuji.jpg" style="width:100%">
    </div>
  </div>
</div>

  


<%- include('../partials/scripts'); %> 
  </body>
  </html>