<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/testpage.css">
  <%- include('../partials/scripts'); %> 

</head>
<body>

 <header>
  <%- include('../partials/nav'); %>
</header>

<div class="container-fluid">
   
        <div class="row" id="r1">
<h2>contact</h2>
</div>

 <form>
<div class="row" id="r2">
     <div class="col">
            message
        </div>
    <div class="col">
        <div>name</div>
        <div>email</div>
        <div>send</div>
        </div> 
</div>
</form> 

<footer class="page-footer fixed-bottom">
  <div class="row" id="r3">
    <div class="col-md-4">
        <a href="https://www.instagram.com/faynepaints/">painting commissions <i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-md-4">
            <a href="https://www.instagram.com/faynepaintsmtg/">mtg alters <i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-md-4">
      <a href="https://society6.com/fayneart">make a purchase here</a>
        </div>
    </div>
</footer>

    
</div>  



 
  </body>
  </html>
